<nav class="flex">
  <button
    mat-raised-button
    color="primary"
    (click)="toggleProfileEditor('profile')"
  >
    Profile
  </button>
  <button
    mat-raised-button
    color="accent"
    (click)="toggleProfileEditor('editor')"
  >
    Editor
  </button>

  @if (isProfile) {
  <div>The Profile page loaded successfully</div>
  } @else {
  <div>The Editor page loaded successfully</div>

  }
</nav>

<div></div>
<main class="main">
  <div class="content">
    <div class="left-side">
      <h1>Hello, {{ title }}</h1>
    </div>
    <div class="divider" role="separator" aria-label="Divider"></div>
    <div class="right-side">
      <div class="pill-group">
        @for (item of [{name:"Code"},{name:"Codigngn"}]; track $index;) {
        <div class="flex flex-col">
          <title>{{ item.name }}</title>
        </div>
        }
      </div>

      <div>
        <p>{{ data | json }}</p>
      </div>
    </div>
  </div>

  <app-post [posts]="[data]"></app-post>

  <app-todo></app-todo>
  <app-data-table></app-data-table>
</main>

<router-outlet></router-outlet>
